<app-menu-header [header_title]="'Medicines'"></app-menu-header>
<ion-content style="max-height: 100vh">

    <ion-card style="max-height: 60vh">
        <!--    <ion-card>-->
        <ion-card-header>
            <ion-card-title>Add a new medicine on your list</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-item>
                <ion-label position="floating">Med's Name</ion-label>
                <ion-input type="text" name="name" [(ngModel)]="name" (change)="clearSugs()"></ion-input>
                <!--            <ion-button type="submit" (click)="onSubmit()">Submit</ion-button>-->
            </ion-item>

            <ion-card *ngIf="name !== '' && sugs.length > 0" class="ion-no-padding">
                <ion-card-header>
                    <ion-text>Maybe you mean</ion-text>
                </ion-card-header>
                <ion-card-content>
                    <ion-list style="max-height: 20vh; width: 100%; overflow-y: scroll;">
                        <ion-item *ngFor="let sug of sugs" (click)="onUpdate(sug)">
                            {{sug}}
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <div class="ion-margin-vertical ion-text-right">
                <ion-button (click)="onClear()" fill="outline" color="danger" id="btn-cancel">
                    <ion-icon slot="start" name="trash-outline"></ion-icon>
                    Clear
                </ion-button>
                <ion-button (click)="onSubmit()" id="btn-confirm">
                    <ion-icon slot="start" name="add-outline"></ion-icon>
                    Add
                </ion-button>
            </div>


        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item *ngIf="this.getListOfMed().length <= 0" lines="none">
            Empty Med List
        </ion-item>

        <ion-list style="max-height: 59vh; overflow-y: scroll;">
            <app-med-item
                    *ngFor="let med of this.getListOfMed()"
                    [medItem]="med">
            </app-med-item>
        </ion-list>
    </ion-card>

</ion-content>
