<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Medicines
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Add a new medicine on your list</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Med's Name</ion-label>
                <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
                <!--            <ion-button type="submit" (click)="onSubmit()">Submit</ion-button>-->
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
                <ion-button (click)="onClear()" fill="outline" color="danger" id="btn-cancel">
                    <ion-icon slot="start" name="trash-outline"></ion-icon>
                    Clear
                </ion-button>
                <ion-button (click)="onSubmit()" id="btn-confirm">
                    <ion-icon slot="start" name="add-outline"></ion-icon>
                    Search
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>


</ion-content>
