<app-menu-header [header_title]= "'Home'"></app-menu-header>

<!--<ion-content>-->

<!--    <ion-card>-->

<!--    <ion-card-header>-->
<!--        <ion-card-title>Edit user's info</ion-card-title>-->
<!--    </ion-card-header>-->

<!--    <ion-card-content>-->
<!--        <ion-item>-->
<!--            <ion-label position="floating">Name</ion-label>-->
<!--            <ion-input type="text" name="name" [(ngModel)]="UserName"></ion-input>-->
<!--            &lt;!&ndash;            <ion-button type="submit" (click)="onSubmit()">Submit</ion-button>&ndash;&gt;-->
<!--        </ion-item>-->

<!--        <ion-item>-->
<!--            <ion-label position="floating">Age</ion-label>-->
<!--            <ion-input type="text" name="age"></ion-input>-->
<!--        </ion-item>-->

<!--        <div class="ion-margin-vertical ion-text-right">-->
<!--            <ion-button (click)="setInitName()" fill="outline" color="danger">-->
<!--                <ion-icon slot="start" name="trash-outline"></ion-icon>-->
<!--                Reset-->
<!--            </ion-button>-->
<!--            <ion-button (click)="saveNewName()" id="btn-confirm">-->
<!--                <ion-icon slot="start" name="add-outline"></ion-icon>-->
<!--                Save-->
<!--            </ion-button>-->
<!--        </div>-->
<!--    </ion-card-content>-->
<!--</ion-card>-->


<!--</ion-content>-->
