<app-menu-header [header_title]="'Interactions'"></app-menu-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-card style="width: 100%">
                <ion-card-content>
                    <ion-button
                            *ngFor="let med of this.getListOfMeds()"
                            [fill]="getButtonVal(med.name)"
                            (click)="changeButtonVal(med.name)">
                        {{med.name}}
                    </ion-button>
                </ion-card-content>
                <ion-card-header>
                    Choose one or more of the active substances above for which you would like to find the interactions
                </ion-card-header>
            </ion-card>
        </ion-row>

        <!--        <ion-row>-->
        <!--            <ion-searchbar placeholder="Filter Interactions"></ion-searchbar>-->
        <!--        </ion-row>-->

        <ion-row>
            <ion-slides>
                <ion-slide style="width: 100%">
                        <ion-card style="width: 100%">
                            <!--                <ion-card-header>-->
                            <!--                    <ion-searchbar placeholder="Filter Interactions"></ion-searchbar>-->
                            <!--                </ion-card-header>-->
                            <ion-card-content class="ion-no-padding">
                                <ion-item *ngIf="!getInterFilteredList() || getInterFilteredList().length <= 0">
                                    No interactions
                                </ion-item>

                                <ion-list *ngIf="getInterFilteredList().length > 0"
                                          style="max-height: 400px; overflow-y: scroll;">
                                    <app-interaction-item
                                            *ngFor="let inter of getInterFilteredList()"
                                            [interItem]="inter">
                                    </app-interaction-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                </ion-slide>

                <ion-slide style="width: 100%">
                    <ion-card style="width: 100%">
                        <ion-card-header>
                            <ion-card-title>
                                teleia2
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>
                                heeeeyyyy
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
            <!--            <ion-card style="width: 100%">-->
            <!--                &lt;!&ndash;                <ion-card-header>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <ion-searchbar placeholder="Filter Interactions"></ion-searchbar>&ndash;&gt;-->
            <!--                &lt;!&ndash;                </ion-card-header>&ndash;&gt;-->
            <!--                <ion-card-content class="ion-no-padding">-->
            <!--                    <ion-item *ngIf="!getInterFilteredList() || getInterFilteredList().length <= 0">-->
            <!--                        No interactions-->
            <!--                    </ion-item>-->

            <!--                    <ion-list *ngIf="getInterFilteredList().length > 0" style="max-height: 370px; overflow-y: scroll;">-->
            <!--                        <app-interaction-item-->
            <!--                                *ngFor="let inter of getInterFilteredList()"-->
            <!--                                [interItem]="inter">-->
            <!--                        </app-interaction-item>-->
            <!--                    </ion-list>-->
            <!--                </ion-card-content>-->
            <!--            </ion-card>-->
        </ion-row>

    </ion-grid>

</ion-content>
