<app-menu-header [header_title]="'Interactions'"></app-menu-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-card style="width: 100%">
                <ion-card-content>
                    <ion-button
                            *ngFor="let med of this.getListOfMeds()"
                            [fill]="getButtonVal(med.name)"
                            (click)="changeButtonVal(med.name)">
                        {{med.name}}
                    </ion-button>
                </ion-card-content>
                <ion-card-header>
                    Choose one or more of the active substances above for which you would like to find the interactions
                </ion-card-header>
            </ion-card>
        </ion-row>

        <ion-row>
            <ion-searchbar placeholder="Filter Interactions"></ion-searchbar>
        </ion-row>

        <ion-row>
            <ion-card style="width: 100%">
                <!--                <ion-card-header>-->
                <!--                    <ion-searchbar placeholder="Filter Interactions"></ion-searchbar>-->
                <!--                </ion-card-header>-->
                <ion-card-content class="ion-no-padding">
                    <ion-item *ngIf="!getInterList() || getInterList().length <= 0">
                        No interactions
                    </ion-item>

                    <ion-list *ngIf="getInterList().length > 0" style="max-height: 370px; overflow-y: scroll;">
                        <app-interaction-item
                                *ngFor="let inter of getInterList()"
                                [interItem]="inter">
                        </app-interaction-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-row>

        <!--        <ion-row style="position:fixed; bottom:30px; right: 30px">-->
        <!--            <ion-col>-->
        <!--                <ion-button (click)="getInteractions()">-->
        <!--                    <ion-icon name="refresh"></ion-icon>-->
        <!--                </ion-button>-->
        <!--            </ion-col>-->
        <!--        </ion-row>-->

        <ion-row style="position: fixed; bottom: 70px;">
            <ion-button (click)="getInterList()" style="position:fixed; right: 30px">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-row>
    </ion-grid>

</ion-content>
